body{
    margin: 0;
    padding: 0;
   
}

/*Navbar*/
.navbar{
    border-bottom: 1px solid black !important;
    margin-bottom: 20px !important;
}

.navbar-nav{
    margin: auto;
}

.navbar-brand{
    font-weight: bold;
}

.navbar-nav .nav-link{
    color: black;
    letter-spacing: 2px;
}

/*Adicionar Tarefas*/
.add-div{
    background-color: rgb(75, 75, 221);
    color: white;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 5px;
}

#add-button{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.fa.fa-plus{
    color: white;
}

/*Filtros*/
.filter-div{
    margin-top: 1em !important;
    align-items: center;
    
}

/*Main*/
.item{
    border-bottom: 1px dotted black;
    height: 3em;
    font-size: 30px;
    margin-top: 1em;
}

.item.done{
    background-color: #ccc !important;
}

.link{
    text-decoration: none;

}

.list-div{
    margin-left: 10%;
    margin-right: 10%;
}

.barra{
    margin-top: 1em;
}

.fa.fa-trash,.fa.fa-edit, .fa.fa-check{
    cursor: pointer;
    font-size: 30px;
    margin: 5px;
}

.icones{
    text-align: end;
}

.fa.fa-check{
    color: #ccc;
}
.done .fa.fa-check{
    color: #3476e2;
}


.fa.fa-trash{
    color: red;
}
.fa.fa-edit{
    color: green;
}

.input-group-btn{
    border: 1px solid rgba(0, 0, 0, 0.206);
    border-radius:5px ;
}



footer{
    background-color: #333;
    border-top: 2px solid black;
    color: white;
    text-align: center;
}

/* Messages */
ul.messages {
    padding: 0;
    list-style: none;
}

ul.messages li {
    list-style: none;
}

/*Paginação*/
.pagination{
    margin-bottom: 20px !important;
}

.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}

/*Login*/
.auth-card{
    margin-bottom: 30px !important;
}

.change-form-p{
    margin-top: 30px !important;
    text-align: center !important;
}

/*Dashboard*/
.dashboard-box h4{
    font-size: 20px;
}

.dashboard-box span{
    font-size: 40px;
}

.dashboard-box{
    background-color: #dfdfdf;
    box-sizing: border-box;
    padding: 2em;
    color: #fff;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;      

}

.dashboard{
    justify-content: center ;
    width: 100%;
    margin: 0;
    padding: 0;
}

#dashboard-lastdays{
    background-color: #3476e2;
}

#dashboard-done{
    background-color: #13c43f;
}

#dashboard-doing{
    background-color: #db1e47;
}





