{% extends 'base.html' %}

{% block title %} Lista{% endblock%}

{% block content %}
<div class="list-div ">
    <h1>Lista de Tarefas</h1>

    <div class="container-fluid row dashboard">
        <div class="col-sm-3 dashboard-box" id="dashboard-lastdays">
            <h4>Finalizados nos últimos 30 dias</h4>
            <span>{{taskDoneRecently}}</span>
        </div>
        <div class="col-sm-3 dashboard-box" id="dashboard-done">
            <h4>Tarefas finalizadas</h4>
            <span>{{taskDone}}</span>
        </div>
        <div class="col-sm-3 dashboard-box" id="dashboard-doing">
            <h4>Tarefas para fazer</h4>
            <span>{{taskDoing}}</span>
        </div>

    </div>


    <div class="row barra">
        <div class="col-sm-2">
            <a id="add-button" href="newtask/">
                <div class="add-div">
                    <i class="fa fa-plus"></i>Adicionar Tarefa
                </div>
            </a>
        </div>


        <div class="col-sm-10">
            <form method="GET" id="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search" value="{{request.GET.search}}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"
                                id="search-btn"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-6 filter-div row">
            <div class="col-sm-2">
                <span>Filtrar por:</span>
            </div>
            <div class="col-sm-4">
                <select name="filter" id="filter" class="form-control">
                    <option value="">Escolha uma opção:</option>
                    <option value="andamento">Em Andamento</option>
                    <option value="realizado">Concluidas</option>
                </select>
            </div>
            
           
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %}class="alert alert-{{message.tags}}" {% endif %}> {{message}} </li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>

    {% for tarefa in tarefas %}
    {% if tarefa.status == 'andamento'%}
        <div class="row item">
    {% else %}
        <div class="row item done">
    {% endif %}        
        <div class="col-sm-10">
            <span><a class="link" href="/task/{{tarefa.id}}">{{tarefa.titulo}}</a></span>
        </div>
        <div class="col-sm-2 icones">
            <a href="changestatus/{{tarefa.id}}"><span><i class="fa fa-check"></i></span></a>
            <a href="edit/{{tarefa.id}}"><span><i class="fa fa-edit"></i></span></a>
            <a href="delete/{{tarefa.id}}" class="delete-btn"><span><i class="fa fa-trash"></i></span></a>

        </div>
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if tarefas.has_previous %}
            <a href="?page={{ tarefas.previous_page_number}}"><i class="fa fa-arrow-left"></i></a>
            {% endif %}

            {% if tarefas.paginator.num_pages %}
            <span class="current">
                {{tarefas.number}} de {{tarefas.paginator.num_pages}}
            </span>
            {% endif %}

            {% if tarefas.has_next %}
            <a href="?page={{ tarefas.next_page_number}}"><i class="fa fa-arrow-right"></i></a>
            {% endif %}


        </span>


    </div>


</div>


{% endblock%}